.navbar-brand {
    padding: 0px;
  }

.container
{
    margin: 5%;
    padding-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.navbar
{
    background-color:#384850 ;
}

.navbar-brand
{
    margin-top: 2%;
    margin-left: 10%;
}

#button-form
{
    display: block;
    margin-right: 16%;
    margin-left: auto;
    margin-top: -3%;
    color: #fff;
    background-color: #384850;
    border-color: #384850;
    text-decoration: none;
    padding: 6px 20px;
    font-size: inherit;
    border-radius: 0;
    line-height: 1;
    border: 1px solid transparent;
}

#container-data
{
    width: 50% ;
    display: block ;
    align-content: center;
    margin-left: 25%;
}

.inputs
{
  padding-left: 20% !important;
  padding-right: 20% !important;
}

#titleBox > h2
{
    padding: 6px 10px;
    margin: 0;
    margin-bottom: 0px;
    text-align: center;
    font-size: 35px;
    background-color: white;
    margin-top: -30px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

body {
    position: relative !important;
    background-color: #ffffff !important;
    font-size: 16px !important;
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
    color: #808080 !important;
    padding: 0 !important;
    -webkit-font-smoothing: antialiased !important;
    background-size: 50% !important;
}

#form-info
{
    padding: 10px;
    margin-bottom: 5%;
}

.input-group
{
    padding-left: 30%;
    margin-top: -2.5%;
}

#passwd, #u, #repeatPasswd
{
    border-radius: 0px;
    height: 28px;
    font-size: 14px;
}

#login-form
{
    font-size: 14px;
}

label
{
    margin-right: 5%;
}

#labelPass
{
    padding-left: 5%;
}

#labelRepeatPass
{
    padding-left: 6.5%;
}

#lock-image
{
    z-index: -100;
    height: 20%;
    width: 20%;
    margin-left: -52.7%;
    margin-bottom: -2.7%;
    margin-top: -50%;
}

#alerts
{
    margin-top: -3%;
    margin-bottom: 5%;
}