/****************/
/* HEADER MENU */
/***************/

#header > nav
{
   padding-top: 10px;
   padding-bottom:30px;
}

#header > nav > a
{
   padding-left:7%;
}

#header > nav > span
{
   color:white;
   position:absolute;
   right:8%;
   cursor:pointer;
}

#title-container
{
   background-color: #90351f;
   padding: 2%;
   padding-bottom: 0.8%;
   position: relative;
   margin-top: -3%;
   margin-left: 8%;
   margin-right: 8%;

}

/****************/
/****************/
/****************/
label{
  color: #808080 !important;
}
body {
   position: relative !important;
   background-color: #ffffff !important;
   font-size: 16px !important;
   font-family: 'Lato', Arial, Helvetica, sans-serif !important;
   font-weight: 400 !important;
   /*color: #808080 !important;*/
   -webkit-font-smoothing: antialiased !important;
   background-size: 50% !important;
}

.divider
{
   width: 100%;
   border-color: white !important;
   margin-bottom: 0.9%;
   margin-top: 0;
}

.marked
{
   background-color: #903621;
}

.unmarked:hover
{
   background-color: #6b2818;
}

.containerTabla
{
   margin-left: 8%;
  margin-right: 8%;
  padding-right: 5%;
}

div > a
{
   margin-top: -2%;
   margin-left: -1%;
   padding: 2%;
   color: white;
}

div > a:hover
{
   color:white;
   text-decoration: none;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: inherit;
   font-weight: inherit;
   line-height: 1.1;
   color: white;
}


#cerrar-ses
{
   color: white;
   margin-top: 1%;
}

.btn-primary
{
   display: block;
   margin-top: 5%;
   margin-left: 23%;
   color: #fff;
   background-color: #455a64;
   border-color: #bdbdbd;
   text-decoration: none;
   padding: 6px 20px;
   font-size: inherit;
   border-radius: 6;
   line-height: 1;
   border: 1px solid transparent;
}

#monitoring_search
{
   margin-top: 4%;
   margin-right: 5%;
}

#options_dropdown
{
   padding: 2%;
}

#dropdownMenuButton
{
   background-color: #306056;
}


#card_monitoringView
{
   margin-top: 2%;
   margin-right: 20%;
}

.bold
{
   font-weight: bold;
}

#search_form
{
   margin-top: 2%;
}

#input-search
{
   width: 300px;
   border-radius: 20px;
}

#button-search
{
   display: block;
   color: #fff;
   margin-left: 5%;
   background-color: #306056;
   border-color: #306056;
   text-decoration: none;
   padding: 6px 20px;
   font-size: inherit;
   border-radius: 0;
   line-height: 1;
   border: 1px solid transparent;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif
}

.box-header:after,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.box-body>.table {
    margin-bottom: 0
}

.table-bordered {
    border: 1px solid #f4f4f4
}

.table {
    width: 84%;
    max-width: 84%;
    margin-top: -2%;
    margin-left: 8%;
    margin-right: 8%;
}

table {
    background-color: transparent
}

.table tr td .progress {
    margin-top: 5px
}

.progress-bar-danger {
    background-color: #dd4b39
}

.progress-xs {
    height: 7px
}

.bg-red {
    background-color: #dd4b39 !important;
    color: #fff
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}

.progress-bar-yellow,
.progress-bar-warning {
    background-color: #f39c12
}

.bg-yellow {
    background-color: #f39c12
}

.progress-bar-primary {
    background-color: #3c8dbc
}

.bg-light-blue {
    background-color: #3c8dbc
}

.progress-bar-success {
    background-color: #00a65a
}

.bg-green {
    background-color: #00a65a
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

.pull-right {
    float: right !important
}

.pagination>li {
    display: inline
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination>li>a {
    background: #fafafa;
    color: #666
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

a {
    background-color: transparent
}
